<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Contraseña</title>
</head>
<body>
<h2>Actualizar Contraseña</h2>
<form  method="post">
    <div>
        <label for="nuevacontrasena">Nueva <Contra></Contra>seña:</label>
        <input type="password" id="nuevacontrasena" name="nuevacontrasena" required>
    </div>
    <div>
        <label for="confirmarcontrasena">Repetir Contraseña:</label>
        <input type="password" id="confirmarcontrasena" name="confirmarcontrasena" required>
    </div>
    <button type="submit">Actualizar Contraseña</button>
</form>

</body>
</html>